<!DOCTYPE html>
<html ng-app="personalSite">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Raleway|Lato|Open+Sans|Hind' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>


<body ng-controller="PageController as page">

<!-- Navigation -->
<section>
    <ul class="navbar">
        <div class="nav-left">
            <li>
                <a href ng-click="page.setPage(1)">Ferristocrat</a>
            </li>
        </div>
        <div class="nav-right">
            <div class="mobile-nav-toggle">
                <li>
                    <a ng-show="page.menuState(1)" class="open-nav" href ng-click="page.navOpen()"><img src="images/menu.png"></a>
                </li>
                <li>
                    <a ng-show="page.menuState(2)" class="close-nav" href ng-click="page.navClose()"><img src="images/cross.png"></a>
                </li>
            </div>
            <div class=nav-desktop>
                <li ng-class="{ active:page.isSet(1) }">
                    <a href ng-click="page.setPage(1)">Home</a>
                </li>
                <li ng-class="{ active:page.isSet(2) }">
                    <a href ng-click="page.setPage(2)">About</a>
                </li>
                <li ng-class="{ active:page.isSet(3) }">
                    <a href ng-click="page.setPage(3)">Blog</a>
                </li>
                <li ng-class="{ active:page.isSet(4) }">
                    <a href ng-click="page.setPage(4)">Contact</a>
                </li>
            </div>
        </div>

        <div class="nav-mobile" ng-hide="page.menuState(1)">
            <li>
                <a href ng-click="page.setPage(1)">Home</a>
            </li>
            <li>
                <a href ng-click="page.setPage(2)">About</a>
            </li>
            <li>
                <a href ng-click="page.setPage(3)">Blog</a>
            </li>
            <li>
                <a href ng-click="page.setPage(4)">Contact</a>
            </li>
        </div>
    </ul>
</section>
<!-- End Navigation-->

<!-- Home Page -->
<section ng-show="page.isSet(1)">
    <div class="main-content">
        <h1>Michael Ferris</h1>
        <h4>Consultant by day | entrepreneur and coder by night</h4>
        <a href ng-click="page.setPage(2)" class="button button1">Learn more about me</a>
    </div>
</section>
<!-- End Home Page-->

<!-- About Page -->
<section ng-show="page.isSet(2)">
    <div class="main-content">
        <div class="about-left">
            <img class="profile-img" src="images/michael.png">
        </div>
        <div class="about-right">
            <h5 class="intro">Hi, I'm Michael. I am an analytics consultant and web application developer living and working in the Washington, DC Metro Area. I received my BA in Economics and Political Science from the University of Vermont, where I also completed a minor in Mathematics back in 2013. I am passionate about all things technology.  This website has gone through multiple iterations as I experiment with different technologies and web development tools. The current iteration was built in a few hours <a href="https://angularjs.org/"> Angular</a>.</h5>
        </div>
    </div>
</section>
<!-- End About Page-->

<!-- Blog Page -->
<section ng-show="page.isSet(3)" ng-controller="BlogController as blog">
    <div ng-repeat="post in blog.posts | orderBy:'-date'">
    <div class="main-content">
        <h2>{{post.title}}</h2>
        <h4>{{post.description}}</h4>
        <h5 class="blog-content">{{post.content}}</h5>
        <h5 class="blog-content"><em>Up next: {{post.upnext}}</em></h5>
        <p>{{post.date | date}}</p>
    </div>
</section>
<!-- End Blog Page -->

<!-- Contact Page -->
<section ng-show="page.isSet(4)">
    <div class="main-content">
        <h1>Contact Me</h1>
        <div class="row">
            <a href="https://www.linkedin.com/in/michaelmike"><img src="images/icons/linkedin.png" /></a>
            <a href="https://github.com/ferristocrat"><img src="images/icons/github.png" /></a>     
            <a href="https://www.instagram.com/m802dc/"><img src="images/icons/instagram.png" /></a>        
            <a href="https://twitter.com/ferristocrat"><img src="images/icons/twitter.png" />
        </div>
    </div>
</section>
<!-- End Contact Page -->

</body>
</html>
