body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: url(images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.25em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

a:link, a:visited {
color: #691d9b;
text-decoration: none;
}
a:hover, a:active {
color: #8b26cd;
text-decoration: none;
}

.button {
    background-color: #000;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: #000 !important;
    font-weight: bold;
    border: 2px solid #000;
}

.button1:hover {
    background-color: #000;
    color: white !important;
}

.navbar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background: rgba(20,20,20, .3);
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.navbar li {
    float: left;
}

li:last-child {
    border-right: none;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .nav-right li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, .5);
}

.navbar .nav-right .active {
    background-color: rgba(0, 0, 0, .25);
}

.main-content {
    overflow: hidden;
    background: rgba(255, 255, 255, .85);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.profile-img {
    border-radius: 100px;
}

.about-left {
    display: inline-block;
    float: left;
}

.about-right {
    text-align: justify;
}

.blog-content {
    text-align: justify;
}

.mobile-nav-toggle {
    display: none;
}

@media screen and (max-width: 870px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1em;
    }

    .button {
        font-size: 1em;
    }
}

@media screen and (max-width: 680px) {

    .navbar li {
        float: none;
        z-index: 1;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        float: left;
        width: 100%;
    }

    .navbar .nav-mobile li:hover:not(.active) {
        background-color: rgba(0, 0, 0, .25);
    }

    .profile-img {
        width: 150px;
    }

    h4 {
        font-size: 1.1em;
    }

    .mobile-nav-toggle {
        display: inline;
    }
}

@media screen and (max-width: 480px) {
    .about-left {
        display: none;
        float: none;
        margin: auto;
    }
}
